content/
themes/
static/
layouts/
assets/
archetypes/
data/
i18n/
resources/
node_modules/
.github/
.git/
.hugo_build.lock
hugo_stats.json
hugo.yaml
package.json
package-lock.json
.gitmodules
.gitignore
*.md
