<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": ["Organization", "EducationalOrganization"],
      "@id": "https://kidslab.de/#organization",
      "name": "KidsLab gGmbH",
      "alternateName": "KidsLab",
      "description": "KidsLab ist eine gemeinnützige Organisation aus Augsburg, die Coding- und Maker-Workshops an Schulen in Schwaben durchführt – von der Grundschule bis zum Gymnasium.",
      "url": "https://kidslab.de",
      "logo": {
        "@type": "ImageObject",
        "url": "https://kidslab.de/images/kids-lab-logo.png"
      },
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Augsburg",
        "addressRegion": "Bayern",
        "addressCountry": "DE"
      },
      "telephone": "+498219995192",
      "email": "gregor@kidslab.de",
      "foundingDate": "2017",
      "areaServed": ["Augsburg", "Schwaben", "Bayern"],
      "knowsAbout": ["Coding", "Maker Education", "Digitale Bildung", "Robotik", "3D-Druck", "Scratch", "LEGO Robotik"],
      "sameAs": [
        "https://www.instagram.com/kidslabaugsburg",
        "https://www.facebook.com/KidsLab.De",
        "https://github.com/KidsLabDe"
      ]
    },
    {
      "@type": "LocalBusiness",
      "@id": "https://kidslab.de/#localbusiness",
      "name": "KidsLab gGmbH",
      "description": "Coding- und Maker-Workshops für Schulen und Kinder in Augsburg und Schwaben – auch finanzierbar über das Startchancen-Programm (Chancenbudget Säule II).",
      "url": "https://kidslab.de",
      "telephone": "+498219995192",
      "email": "gregor@kidslab.de",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Augsburg",
        "addressRegion": "Bayern",
        "postalCode": "86150",
        "addressCountry": "DE"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 48.3705,
        "longitude": 10.8978
      },
      "areaServed": {
        "@type": "AdministrativeArea",
        "name": "Schwaben, Bayern"
      },
      "priceRange": "€€",
      "openingHours": "Mo-Fr 09:00-18:00",
      "sameAs": "https://kidslab.de/#organization"
    }
  ]
}
</script>
{{- /* Workshops aus MentiPlanner: ein schema.org-Event pro buchbarem Angebot */ -}}
{{- with .Params.termine -}}
{{- $page := $ -}}
{{- $events := slice -}}
{{- range . -}}
  {{- $first := index .daten 0 -}}
  {{- $last := index .daten (sub (len .daten) 1) -}}
  {{- $start := time.AsTime (printf "%sT%s:00" $first.datum $first.start) "Europe/Berlin" -}}
  {{- $endTime := $last.ende | default $last.start -}}
  {{- $end := time.AsTime (printf "%sT%s:00" $last.datum $endTime) "Europe/Berlin" -}}
  {{- $price := replace (replace (replace .preis " €" "") "." "") "," "." -}}
  {{- if eq .preis "kostenlos" }}{{ $price = "0" }}{{ end -}}
  {{- /* Kursbetrieb ist in der Herrenhäuser 17 (Neidhartstr. 2 ist nur Postanschrift) */ -}}
  {{- $location := dict "@type" "Place" "name" $first.ort "address" (dict "@type" "PostalAddress" "addressLocality" "Augsburg" "addressCountry" "DE") -}}
  {{- if eq $first.ort "KidsLab" -}}
    {{- $location = dict "@type" "Place" "name" "KidsLab Augsburg" "address" (dict "@type" "PostalAddress" "streetAddress" "Herrenhäuser 17" "postalCode" "86152" "addressLocality" "Augsburg" "addressCountry" "DE") -}}
  {{- end -}}
  {{- $event := dict
    "@type" "Event"
    "name" $page.Title
    "description" $page.Description
    "url" $page.Permalink
    "startDate" ($start.Format "2006-01-02T15:04:05-07:00")
    "endDate" ($end.Format "2006-01-02T15:04:05-07:00")
    "eventStatus" "https://schema.org/EventScheduled"
    "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
    "location" $location
    "organizer" (dict "@id" "https://kidslab.de/#organization")
    "performer" (dict "@type" "Organization" "name" "KidsLab" "url" "https://kidslab.de")
    "offers" (dict
      "@type" "Offer"
      "url" $page.Params.booking_url
      "price" $price
      "priceCurrency" "EUR"
      "validFrom" ($page.Date.Format "2006-01-02T15:04:05-07:00")
      "availability" (cond .frei "https://schema.org/InStock" "https://schema.org/SoldOut"))
  -}}
  {{- with $page.Params.image }}{{ with $page.Resources.Get . }}{{ $event = merge $event (dict "image" .Permalink) }}{{ end }}{{ end -}}
  {{- $events = $events | append $event -}}
{{- end -}}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $events | jsonify | safeJS }}</script>
{{- end -}}
